# Xcode
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
*.xcuserdatad/
xcuserdata/
*.moved-aside

# SwiftPM
.build/
.swiftpm/
Package.resolved

# Tuist
Tuist/.build/
Tuist/.tuist-cache/
Tuist/.tuist-bin/

# Tuist-generated Xcode projects (regenerate with `tuist generate`)
*.xcodeproj
*.xcworkspace

# App artifacts
*.ipa
*.dSYM*

# OS / editor
.DS_Store
.vscode/
.idea/


build/
DerivedData/
.derivedData/